	<script type="text/javascript" src="js/ajax.js"></script>	
	<script type="text/javascript">var selected_item=-1;</script>

	<!-- jQuery -->
	<script type="text/javascript" src="js/jquery/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery/jquery-ui-1.8.4.custom.min.js"></script>
	<!-- BR jQuery datePicker -->
	<script type="text/javascript" src="js/jquery/jquery.ui.datepicker-pt-BR.js"></script>
	<!-- RICH TEXT -->
	<script type="text/javascript" src="css/jwysiwyg/jquery.wysiwyg.js"></script>
	
	
	<script type="text/javascript" src="js/menuTest.js"></script>
	
	<script type="text/javascript" src="js/jquery/jquery.bgiframe-2.1.1.js"></script>
	