<style type="text/css">
	td img {
		display: block;
	}
	
	a.menu {
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: #333333;
	}
	
	a:link.menu {
		text-decoration: none;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: #333333;
	}
	
	.linkTop {
		text-decoration: none;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: #333333;
	}
	
	a:visited.menu {
		text-decoration: none;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: #F2F2F2;
	}
	
	a:hover.menu {
		text-decoration: none;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
		
	}
	
	a:active.menu {
		text-decoration: none;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: #333333;
	}
	
	
	
	a.aBlack :hover{
		text-decoration: none;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
		color: #FF3333;
	}
	a.aBlack :active{
		text-decoration: none;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
		color: #000000;
	}
	a.aBlack :visited{
		text-decoration: none;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 11px;
		color: #777777;
	}
	
	.bordasLaterais {
		border-right: #FFFFFF 1px solid;
		border-left: #FFFFFF 1px solid;
	}
	
	.bordaLeft {
		border-left: #FFFFFF 1px solid;
	}
	
	.bordaRight {
		border-right: #FFFFFF 1px solid;
	}
	
	.bordaTop {
		border-top: #FFFFFF 1px solid;
	}
	
	.bordaBottom {
		border-bottom: #FFFFFF 1px solid;
	}
	
	.bordas {
		border-left: #FFFFFF 1px solid;
		border-right: #FFFFFF 1px solid;
		border-top: #FFFFFF 1px solid;
		border-bottom: #FFFFFF 1px solid;
	}
	
	.bordasBlack {
		border-left: #000000 1px solid;
		border-right: #000000 1px solid;
		border-top: #000000 1px solid;
		border-bottom: #000000 1px solid;
	}
	
	.bordasNotTop {
		border-left: #FFFFFF 1px solid;
		border-right: #FFFFFF 1px solid;
		border-bottom: #FFFFFF 1px solid;
	}
	
	.bordasNotBottom {
		border-left: #FFFFFF 1px solid;
		border-right: #FFFFFF 1px solid;
		border-top: #FFFFFF 1px solid;		
	}
</style>