<style type="text/css">
<!--
.SmothBorders {
	border-right:#999999 1px solid;
	border-bottom:#999999 1px solid;
	border-top:#999999 1px solid;
	border-left:#999999 1px solid;
}
.SmothLeftBorder {
	border-left:#999999 1px solid;
}
.SmothRightBorder {
	border-right:#999999 1px solid;
}
.SmothTopBorder {
	border-top:#999999 1px solid;
}
.SmothBottomBorder {
	border-bottom:#999999 1px solid;
}

.StrongBorders {
	border-right:#333333 1px solid;
	border-bottom:#333333 1px solid;
	border-top:#333333 1px solid;
	border-left:#333333 1px solid;
}
.StrongLeftBorder {
	border-left:#333333 1px solid;
}
.StrongRightBorder {
	border-right:#333333 1px solid;
}
.StrongTopBorder {
	border-top:#333333 1px solid;
}
.StrongBottomBorder {
	border-bottom:#333333 1px solid;
}

.BlackBorders {
	border-right:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-top:#000000 1px solid;
	border-left:#000000 1px solid;
}
.BlackLeftBorder {
	border-left:#000000 1px solid;
}
.BlackRightBorder {
	border-right:#000000 1px solid;
}
.BlackTopBorder {
	border-top:#000000 1px solid;
}
.BlackBottomBorder {
	border-bottom:#000000 1px solid;
}

.WhiteBorders {
	border-right:#FFFFFF 1px solid;
	border-bottom:#FFFFFF  1px solid;
	border-top:#FFFFFF  1px solid;
	border-left:#FFFFFF  1px solid;
}
.WhiteLeftBorder {
	border-left:#FFFFFF  1px solid;
}
.WhiteRightBorder {
	border-right:#FFFFFF  1px solid;
}
.WhiteTopBorder {
	border-top:#FFFFFF  1px solid;
}
.WhiteBottomBorder {
	border-bottom:#FFFFFF  1px solid;
}

-->

</style>